@import "tailwindcss";

:root {
  --primary: #3b82f6;
  --secondary: #10b981;
  --background: #f8fafc;
  --text: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}